.RichTextMenu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.RichTextMenu--form {
  border-top-left-radius: var(--editor-radius-md);
  border-top-right-radius: var(--editor-radius-md);
  padding: 6px 6px;
  background-color: var(--editor-surface-sunken);
  position: relative;
  scrollbar-width: none;
  overflow-x: auto;
}

.RichTextMenu-group {
  display: flex;
  align-items: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-inline: 6px;
  gap: 2px;
  position: relative;
}

.RichTextMenu-group:first-of-type {
  padding-left: 0;
}

.RichTextMenu-group:last-of-type {
  padding-right: 0;
}

.RichTextMenu--inline .RichTextMenu-group {
  color: var(--editor-text-inverse);
  opacity: 0.85;
  gap: 0px;
  flex-wrap: nowrap;
}

.RichTextMenu-group + .RichTextMenu-group {
  border-left: 1px solid var(--editor-border-subtle);
}

.RichTextMenu--inline .RichTextMenu-group + .RichTextMenu-group {
  border-left: 0.5px solid rgba(255, 255, 255, 0.2);
}
