/* Prevent user from interacting with underlying component */
[data-editor-component] * {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

[data-editor-component] {
  cursor: grab;
  pointer-events: auto !important;
  user-select: none;
  -webkit-user-select: none;
}

[data-editor-dropzone] {
  pointer-events: auto !important; /* Ensure DropZones still capture pointer events inside data-editor-components so elementsFromPoint triggers */
}

[data-editor-disabled] {
  cursor: pointer;
}

/* Placeholder */
[data-dnd-placeholder] {
  background: var(--fe-color-azure-06) !important;
  border: none !important;
  color: #00000000 !important;
  opacity: 0.3 !important;
  outline: none !important;
  transition: none !important;
}

[data-dnd-placeholder] *,
[data-dnd-placeholder]::after,
[data-dnd-placeholder]::before {
  opacity: 0 !important;
}

[data-dnd-dragging][data-editor-component] {
  pointer-events: none !important;
  outline: 2px var(--fe-color-azure-09) solid !important;
  outline-offset: -2px !important;
}
