.DragIcon {
  color: var(--re-color-grey-05);
  cursor: grab;
  padding: 4px;
  border-radius: 4px;
}

.DragIcon--disabled {
  cursor: no-drop;
}

@media (hover: hover) and (pointer: fine) {
  .DragIcon:not(.DragIcon--disabled):hover {
    color: var(--re-color-azure-05);
    background-color: var(--re-color-azure-12);
  }
}
