@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Loader {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: loader-spin 1s linear infinite;
}
